/* armenian */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./files/armenian-400-normal.woff2') format('woff2');
  unicode-range: U+0308, U+0530-058F, U+2010, U+25CC, U+FB13-FB17;
}