/* gurmukhi-400-italic */
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./files/gurmukhi-400-italic.woff2') format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* gurmukhi-400 */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./files/gurmukhi-400-normal.woff2') format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* gurmukhi-500-italic */
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 500;
  src: url('./files/gurmukhi-500-italic.woff2') format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* gurmukhi-500 */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./files/gurmukhi-500-normal.woff2') format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* gurmukhi-700-italic */
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./files/gurmukhi-700-italic.woff2') format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}
/* gurmukhi-700 */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./files/gurmukhi-700-normal.woff2') format('woff2');
  unicode-range: U+0964-0965, U+0A01-0A75, U+200C-200D, U+20B9, U+25CC, U+262C, U+A830-A839;
}