/* hebrew */
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 500;
  src: url('./files/hebrew-500-italic.woff2') format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}